@import "pallet";

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Montserrat, sans-serif;
  overflow: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  img {
    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror HTML */
    -moz-user-drag: none; /* Old versions of Firefox */
    -ms-user-drag: none; /* Internet Explorer/Edge */
    user-drag: none;
  }
}

button {
  background-color: $color1;
  color: $color3;
  padding: 8px;
  font-weight: bold;
  border-radius: 4px;
  border-style: none;
}

input[type="password"] {
  -webkit-text-stroke-width: 0.2em;
  letter-spacing: 0.3em;
}
