$bg-img: url('../../common/resources/image-1.png');
$filter: url('../../common/resources/UI_staking_frame.png');

.LoadingPageContainer {
    font-family: 'Montserrat', sans-serif;
    background: $bg-img;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: white;
}

.LoadingPageBorder {
    background: $filter;
    background-size: 100%;
    width: 100.5vw;
    height: 100.5vh;
    position: relative;
    left: -3px;
    top: -3px;
}
