$filter: url("../../common/resources/UI_staking_frame.png");
$bg-img: url("../../common/resources/staking_bg.png");

.MainBorder {
  background: $filter;
  background-size: 100%;
  width: 100.5vw;
  height: 100.5vh;
  position: relative;
  left: -3px;
  top: -3px;
}

.MainContainer {
  font-family: "Montserrat", sans-serif;
  background: $bg-img;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color: white;
}

.CollectionItemList {
  display: flex;
  position: absolute;
  top: 25%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.MainCartContainer {
  position: relative;
  top: 440px;
  left: -36px;
}

.MainRemainDisplayPos {
  position: relative;
  left: 363px;
  top: 55px;
  z-index: 1;
}

.MainCollectionPanelContainer {
  position: relative;
  top: 420px;
  left: -36px;
}

.MainExpectedStatusBoard {
  position: relative;
  left: 152px;
}
