.MainContainer {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: white;
}

.StakingItemList {
    display: flex;
    position: absolute;
    top: 25%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.MainCartContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.MainRemainDisplayPos {
  position: relative;
  left: 300px;
  top: 30px;
}

