.CharSelectDialogContainer {
  height: 460px;
  width: 571px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CharSelectDialogTitle {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.CharSelectDialogButtonPos {
  position: relative;
  top: 40px;
}
