.login {
  #login-button {
    position: absolute;
    right: 0px;
    margin: 10px;
  }

  #download-snapshot {
    position: absolute;
    right: 0px;
    bottom: 45px;
    margin: 10px;
  }

  #clear-cache {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 10px;
  }
}
