.menu {
  opacity: 0.9;
  background-color: #1a1a1a;
  box-sizing: border-box;
  width: 160px;
  padding: 10px;
  margin-left: 20px;
  -webkit-app-region: no-drag;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px;
  img {
    padding-right: 1em;
  }
}

.disabledMenuItem {
  opacity: 0.8;
}

.menuDivider {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #979797;
}
