[submodule "NineChronicles.Headless"]
	path = NineChronicles.Headless
	url = https://github.com/BasixKOR/NineChronicles.Headless.git
[submodule "NineChronicles"]
	path = NineChronicles
	url = https://github.com/planetarium/NineChronicles.git
