[submodule "NineChronicles.Standalone"]
	path = NineChronicles.Standalone
	url = git@github.com:planetarium/NineChronicles.Standalone
[submodule "nekoyume-unity"]
	path = nekoyume-unity
	url = git@github.com:planetarium/nekoyume-unity.git
