@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Kosugi+Maru&display=swap');

#root {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  --bold: 700w;
  --normal: 400w;
  --font-size1: 32px;
  --font-size2: 24px;
  --font-size3: 18px;
  --font-size4: 14px;
  --font-size5: 12px;
  --font-size6: 10px;
  --font-size7: 9px;
  //* texts
}
