$bg-img: url('../../common/resources/bg-staking-popup-01.png');
$label-img: url('../../common/resources/bg-staking-popup-02.png');

.RemainingDisplayContainer {
  width: 420px;
  height: 90px;
      background: $bg-img;
    background-size: 100%;
    background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.RemainingDisplayTitle {
  mix-blend-mode: screen;
  text-shadow: 0.5px 0.9px 0 #fdd6a0;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #38261a;
  position: relative;
}

.RemainingDisplayLable {
  width: 360px;
  height: 36px;
    background: $label-img;
    background-size: 100%;
    background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .label {
    mix-blend-mode: screen;
    text-shadow: 0px 2px 0.7px #000000;
    -webkit-text-stroke: 1px #0c0205;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #fff6b9;
  }
  .remain {
    display: inline-block;
  }
}
