.layout {
  background-image: url("../../../resources/launcher-png.png");
  height: 100%;
  width: 100%;
  -webkit-app-region: drag;
}

.windowControls {
  display: flex;
  position: fixed;
  right: 20px;
  font-size: large;
  top: 1em;
  justify-content: flex-end;
  div {
    flex: 1;
    margin-left: 1em;
  }
}

.bottomControls {
  display: flex;
  position: fixed;
  right: 40px;
  bottom: 45px;
  justify-content: flex-end;
  align-items: flex-end;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 560px;
  height: 100%;
  background-color: #1d1e1f;
  opacity: 0.95;
}

.overlayContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1e1f80;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-app-region: no-drag;
}

.progressBar {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  &::-webkit-progress-value {
    background-color: #20d1c3;
  }
  &::-webkit-progress-bar {
    background-color: rgba(19, 19, 19, 0.8);
  }
}

.statusBar {
  width: 500px;
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 8px;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  }
}

.infotext {
  position: fixed;
  bottom: 50px;
  left: 50px;
}
