.layout {
  background-image: url("../../../resources/launcher-png.png");
  height: 100%;
  width: 100%;
  -webkit-app-region: drag;
}

.windowControls {
  display: flex;
  position: fixed;
  right: 20px;
  font-size: large;
  color: white;
  top: 1em;
  justify-content: flex-end;
  span {
    display: block;
    flex: 1;
    margin-left: 1em;
  }
}

.bottomControls {
  display: flex;
  position: fixed;
  right: 40px;
  bottom: 45px;
  justify-content: flex-end;
  align-items: flex-end;
}
