.ReceivedDialogContainer {
  height: 460px;
  width: 571px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

  img {
    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror HTML */
    -moz-user-drag: none; /* Old versions of Firefox */
    -ms-user-drag: none; /* Internet Explorer/Edge */
    user-drag: none;
  }
}

.ReceivedDialogTitle {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffa200;
}

.ReceivedDialogItemList {
  display: flex;
  position: relative;
  bottom: 20px;
}
