version: 2.1

orbs:
  node: circleci/node@4.7
  win: circleci/windows@2.4.1

commands:
  checkout-update-submodules:
    steps:
      - checkout
      - run: 
          command: git submodule update --init --recursive
          environment:
            GIT_LFS_SKIP_SMUDGE: 1
  yarn-install:
    steps:
      - restore_cache:
          keys:
            - yarn-{{ arch }}-{{ checksum "yarn.lock" }}
            - yarn-{{ checksum "yarn.lock" }}
      - run: yarn install --frozen-lockfile  --cache-folder ~/.cache/yarn
      - save_cache:
          key: yarn-{{ arch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
  
jobs:
  build:
    executor:
      name: win/default
      size: medium
    # macos:
    #   xcode: "11.3.0"
    # Let's keep this disabled until we figure out the macOS build.
    steps:
      - run: git config --global core.symlinks true # https://github.com/git-for-windows/git/wiki/Symbolic-Links 
      - checkout-update-submodules
      - yarn-install
      - run: 
          command: iwr -useb https://dot.net/v1/dotnet-install.ps1 | iex
          name: Install .NET Core Latest
      - run: 
          command: |
            [Environment]::SetEnvironmentVariable("APV", (./scripts/make-apv.ps1), "User")
          name: Generate APV
      - run: 
          command: |
            set -ex
            latest_apv_no="$(yarn --silent latest-apv-no)"
            temp_dir="$(mktemp -d)"
            pushd "$temp_dir"
            curl -o tmp.zip "$(printf "$URL_PATTERN" "$latest_apv_no")"
            7z x tmp.zip resources/app/config.json
            popd
            mv "$temp_dir/resources/app/config.json" dist/
          shell: bash.exe
          name: Copy config.json from the last release
          environment:
            URL_PATTERN: "https://download.nine-chronicles.com/v%d/Windows.zip"
      - run: yarn sign-apv
      - run:
          command: |
            dotnet clean -c Release
            dotnet nuget locals all --clear
          working_directory: NineChronicles.Headless
          name: Clean Headless
      - run:
          command: |
            yarn build-headless
            yarn bundle-player
          name: Setup Software Components
      - run:
          command: |
            if ($env:CIRCLE_BRANCH -eq "main") {
              yarn release
            } else {
              yarn pack
            }
      - run: 
          command: 7z a -r ../../pack-dist/Windows.zip *
          working_directory: pack/Nine Chronicles-win32-x64/
      - store_artifacts:
          path: pack-dist/*
          destination: dist-artifacts
  styles:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - yarn-install
      - run:
          command: yarn prettier --check "src/**/*.{ts,tsx,json}"
          name: Check Formatting
      - run: yarn codegen
      - run:
          command: yarn tsc --noEmit
          name: Type Check
  update-translations:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - yarn-install
      - run:
          command: |
            if [ $CIRCLE_BRANCH = "development" ]; then
              yarn update-translations
            fi
          name: Update Translations
  check-submodule:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout-update-submodules
      - yarn-install
      - run:
          command: yarn ts-node scripts/checkSubmodule.ts Lib9c
          name: Check Lib9c
      - run:
          command: yarn ts-node scripts/checkSubmodule.ts NineChronicles.RPC.Shared
          name: Check NineChronicles.RPC.Shared


workflows:
  build:
    jobs:
      - build
      - styles
      - update-translations
      - check-submodule
