@keyframes tier1 {
  from {
      left: 10px;
      top: 0px;
  }
  to {
      left: 10px;
      top: 30px;
  }
}

@keyframes tier2 {
  from {
      left: 20px;
      top: 30px;
  }
  to {
      left: 20px;
      top: 50px;
  }
}


@keyframes tier3 {
  from {
      left: 35px;
      top: 30px;
  }
  to {
      left: 35px;
      top: 50px;
  }
}

@keyframes tier4 {
  from {
      left: 70px;
      top: 30px;
  }
  to {
      left: 70px;
      top: 50px;
  }
}


@keyframes tier5 {
  from {
      left: 70px;
      top: 50px;
  }
  to {
      left: 70px;
      top: 70px;
  }
}

@keyframes tier6 {
  from {
      left: 70px;
      top: 70px;
  }
  to {
      left: 70px;
      top: 90px;
  }
}

@keyframes tier7 {
  from {
      left: 180px;
      top: 200px;
  }
  to {
      left: 180px;
      top: 220px;
  }
}


.CollectionItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .arrow {
      width: 53px;
    position: relative;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 3;
    }
    .hide {
      visibility: hidden;
    }
}

.TIER1 {
  width: 70px;
  position: relative;
  bottom: -8px;
  left: 50px;
    .arrow{
      animation-name: tier1;
    }
}

.TIER2 {
  width: 80px;
  position: relative;
  bottom: 5px;
  left: 100px;;
    .arrow{
      animation-name: tier2;
    }
}

.TIER3 {
  width: 100px;
  position: relative;
  left: -91px;
  bottom: 100px;
    .arrow{
      animation-name: tier3;
    }
}

.TIER4 {
  width: 170px;
  position: relative;
  left: -58px;
  bottom: 200px;
    .arrow{
      animation-name: tier4;
    }
}

.TIER5 {
    width: 250px;
    position: relative;
    right: 136px;
    top: -40px;
    img {
      width: 250px;
    }
    .arrow{
      animation-name: tier5;
    }
}

.TIER6 {
    width: 165px;
    position: relative;
    right: 207px;
    bottom: 120px;
    img {
      width: 165px;
    }
    .arrow{
      animation-name: tier6;
    }
}

.TIER7 {
    width: 400px;
    position: relative;
    right: 226px;
    bottom: 130px;
    img {
      width: 400px;
    }
    .arrow{
      animation-name: tier7;
    }
}

.DisplayCollectionPriceContaier {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Outline {
    filter: brightness(0);
}

.GrayScale {
    filter: grayscale(1);
}

