@keyframes tier1 {
  from {
    left: 10px;
    top: 0px;
  }
  to {
    left: 10px;
    top: 30px;
  }
}

@keyframes tier2 {
  from {
    left: 20px;
    top: 30px;
  }
  to {
    left: 20px;
    top: 50px;
  }
}

@keyframes tier3 {
  from {
    left: 35px;
    top: 20px;
  }
  to {
    left: 35px;
    top: 40px;
  }
}

@keyframes tier4 {
  from {
    left: 70px;
    top: 30px;
  }
  to {
    left: 70px;
    top: 50px;
  }
}

@keyframes tier5 {
  from {
    left: 90px;
    top: 50px;
  }
  to {
    left: 90px;
    top: 70px;
  }
}

@keyframes tier6 {
  from {
    left: 90px;
    top: 80px;
  }
  to {
    left: 90px;
    top: 100px;
  }
}

@keyframes tier7 {
  from {
    left: 200px;
    top: 250px;
  }
  to {
    left: 200px;
    top: 270px;
  }
}

.CollectionItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .arrow {
    width: 53px;
    position: relative;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 3;
  }
  .hide {
    visibility: hidden;
  }
}

.TIER1 {
  position: relative;
  bottom: -10px;
  left: 65px;
  .arrow {
    animation-name: tier1;
  }
}

.TIER2 {
  position: relative;
  bottom: 7px;
  left: 122px;
  .arrow {
    animation-name: tier2;
  }
}

.TIER3 {
  position: relative;
  left: -104px;
  bottom: 117px;
  .arrow {
    animation-name: tier3;
  }
}

.TIER4 {
  position: relative;
  left: -63px;
  bottom: 236px;
  .arrow {
    animation-name: tier4;
  }
}

.TIER5 {
  position: relative;
  right: 152px;
  top: -17px;
  .arrow {
    animation-name: tier5;
  }
}

.TIER6 {
  position: relative;
  right: 244px;
  bottom: 153px;
  .arrow {
    animation-name: tier6;
  }
}

.TIER7 {
  position: relative;
  right: 277px;
  bottom: 167px;
  .arrow {
    animation-name: tier7;
  }
}

.DisplayCollectionPriceContaier {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Outline {
  filter: brightness(0);
}

.GrayScale {
  filter: grayscale(1);
}
