.StakingItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.TIER1 {
    width: 100px;
}

.TIER2 {
    width: 100px;
}

.TIER3 {
    width: 100px;
}

.TIER4 {
    width: 100px;
}

.TIER5 {
    width: 100px;
}

.TIER6 {
    width: 100px;
}

.TIER7 {
    width: 100px;
}

.TIER8 {
    width: 100px;
}

.DisplayStakingPriceContaier {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Outline {
    filter: brightness(0);
}

.GrayScale {
    filter: grayscale(1);
}


