@import "pallet";

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Montserrat, sans-serif;
  overflow: hidden;

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

button {
  background-color: $color1;
  color: $color3;
  padding: 8px;
  font-weight: bold;
  border-radius: 4px;
  border-style: none;

  -webkit-app-region: no-drag;
}

input[type="password"] {
  -webkit-text-stroke-width: 0.2em;
  letter-spacing: 0.3em;
}
