$slot-img: url("../../../common/resources/ui-staking-slot-bg.png");
$select-img: url("../../../common/resources/ui-staking-slot-select-02.png");
$selected-img: url("../../../common/resources/ui-staking-slot-select-01.png");

.RemoveButton {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: -2px;
}

.CartIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.CartItemContainer {
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
}

.CollectionImageBackground {
  background-image: $slot-img;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 94px;
  height: 94px;
}

.GoldIcon {
  width: 21px;
  height: 21px;
}

.CartValue {
  display: inline-block;
  text-shadow: 0px 2px 0.2px rgba(0, 0, 0, 0.91);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.64;
  letter-spacing: 0.7px;
  text-align: left;
  color: #fff5e3;
}

.RedFontColor {
  color: red;
}

.AddItem {
  position: absolute;
  background: $select-img;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 115px;
  height: 115px;
  left: -5px;
  top: -5px;
}

.CartIconListContainer {
  width: 90%;
}

.CartIcon {
  position: absolute;
  background-image: $selected-img;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 107px;
  height: 107px;
  left: 0px;
  top: 0px;
}

.CartValueContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
