$item-bg: url('../../../resources/ui-staking-slot-bg.png');

.ClaimRewardItemRectangle {
  width: 68px;
  height: 72px;
  margin: 0 11px;
  padding: 8px 9px 14px;
  border-radius: 8px;
  border: solid 1px #979797;
  background-color: #ffb115;
}

.RewardItemQuantityRectangle {
  position: relative;
  bottom: 20px;
  width: 86px;
  height: 27px;
  padding: 2px 13px 1px;
  object-fit: contain;
  border-radius: 8px;
  border: solid 1px #979797;
  background-color: #1f1919;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.ClaimRewardItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .label {
    text-shadow: 0px 2
    px 0.2px rgba(0, 0, 0, 0.91);
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.64;
    letter-spacing: 0.7px;
    text-align: left;
    color: #fff5e3;
  }
}

.ClaimRewardItemBackground {
  background-image: $item-bg;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 7px 7px 1px 7px;
}
