$bg-img: url("../../common/resources/bg-staking-bottom-bg.png");
$info-bg-img: url("../../common/resources/ui-staking-top-bg-03.png");
$title-bg: url("../../common/resources/ui-staking-top-bg-04.png");
$item-bg: url("../../common/resources/ui-staking-slot-bg.png");

.CollectionPanelContainer {
  width: 105vw;
}

.CollectionPanelBackground {
  background: $bg-img;
  background-size: 100%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 180px;

  .reward {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 22px;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $title-bg;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 144px;
      height: 37px;
      object-fit: contain;
      text-shadow: 0px 1px 0.5px rgba(204, 155, 98, 0.55);
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.56;
      letter-spacing: -0.48px;
      text-align: left;
      color: #140d08;
    }
  }
  .balance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $title-bg;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 144px;
      height: 37px;
      position: relative;
      top: 50px;
      object-fit: contain;
      text-shadow: 0px 1px 0.5px rgba(204, 155, 98, 0.55);
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.56;
      letter-spacing: -0.48px;
      text-align: left;
      color: #140d08;
    }

    .deposit {
      position: relative;
      bottom: 47px;
      text-shadow: 0px 2px 0.2px rgba(0, 0, 0, 0.91);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.64;
      letter-spacing: 0.7px;
      color: #fff5e3;
    }

    .monster {
      width: 200px;
      position: relative;
      bottom: 10px;
      right: 10px;
    }
  }
}

.CollectionRewardItemBackground {
  background-image: $item-bg;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 7px 7px 1px 7px;
}

.CollectionRewardItemListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.CollectionRewardItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .label {
    text-shadow: 0px 2 px 0.2px rgba(0, 0, 0, 0.91);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.64;
    letter-spacing: 0.7px;
    text-align: left;
    color: #fff5e3;
  }
}

.CollectionPanelButton {
  position: relative;
  right: 30px;
  top: 20px;
}

.CollectionPanelInfo {
  background: $info-bg-img;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 434px;
  height: 167px;
  position: relative;
  top: 40px;
  left: 29px;

  p {
    position: relative;
    left: 15px;
    top: -8px;
    padding: 0;
    object-fit: contain;
    mix-blend-mode: screen;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.45px;
    text-align: left;
    color: #a57843;
  }

  ul {
    position: relative;
    left: 30px;
    bottom: 22px;
    padding: 0;
    margin: 0;
  }

  li {
    object-fit: contain;
    mix-blend-mode: screen;
    text-shadow: 0px 2px 0 #000000;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #fff6b9;
  }

  li::marker {
    content: "- ";
  }
}
