@import "../pallet";

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main {
  background-color: #1d1e1f;
  position: relative;
  width: 50vw;
}

.hero {
  background-image: url("../../resources/bg-alt.png");
  background-size: cover;
  background-position: 100%;
  display: inline-flex;
  padding: 24px 24px 64px 24px;

  ul {
    align-self: flex-end;
    padding-left: 0;
    list-style: none;
  }
  .LauncherClientOption {
    background-color: rgba(26, 26, 26, 0.95);
    padding: 8px 12px;
    position: absolute;
    right: 16px;
    bottom: 24px;
  }

  .LauncherLayoutVersion {
    position: absolute;
    bottom: 15px;
    color: white;
    font-size: 13px;
  }

  .LauncherClientInfo {
    background-color: rgba(26, 26, 26, 0.95);
    position: absolute;
    font-size: 9px;
    color: antiquewhite;
    left: 400px;
    bottom: 0px;
    padding: -5px;
    width: calc(100% - 400px);
    visibility: hidden;
    ul {
      margin: 0px;
      code {
        font-size: 10px;
        font-family: "Courier New", Courier, monospace;

        .details {
          opacity: 0.25;
        }
      }
    }
  }
}
.clipboard {
  position: absolute;
  width: 100px;
  height: 10px;
  left: -99999px;
}
.LauncherClientIcon {
  display: inline-flex;
  padding: 3px;
  padding-right: 8px;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(26, 26, 26, 0.95);
  position: absolute;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  right: 16px;
  bottom: 15px;
  cursor: pointer;
  width: 42px;
  transition: width 0.5s cubic-bezier(0.2, 0.8, 0, 1);
  svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }
  &.activate {
    width: 64px;
  }
}

.footer {
  position: absolute;
  padding: 0px;
  bottom: 0px;
  width: 97%;
  height: 30px;
  background-color: "transparent";
}
