@import "../pallet";

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main {
  background-color: #1d1e1f;
  position: relative;
  width: 50vw;
}

.hero {
  background-image: url("../../resources/bg.jpg");
  background-size: cover;
  background-position: 55%;
  display: inline-flex;
  padding: 24px 24px 64px 24px;

  ul {
    align-self: flex-end;
    padding-left: 0;
    list-style: none;
  }

  div {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 9px;
    color: antiquewhite;
    left: 415px;
    bottom: 10px;
    margin: 0px 10px;
    padding: -5px;

    ul {
      margin: 5px;

      code {
        font-size: 10px;
        font-family: "Courier New", Courier, monospace;

        .details {
          opacity: 0.25;
        }
      }
    }
  }
}

.footer {
  position: absolute;
  padding: 0px;
  bottom: 0px;
  width: 97%;
  height: 30px;
  background-color: "transparent";
}
