#root {
  display: block;
  height: 100%;
}

main {
  height: 100%;
}

.background {
  height: 100%;
  background: url("../../resources/bg.jpg") no-repeat 0 0;
  background-size: cover;
  transform: scaleX(-1);
}

.clientId {
  display: inline;
}

.children {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.leftBoard {
  width: 563px;
  height: 100%;
  background-color: #1d1e1f;
  color: #ffffff;

  .titleText {
    font-size: 32px;
  }

  .primaryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #3e2a8d;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
}

.debugInfo {
  position: absolute;
  left: 52px;
  bottom: 45px;
  color: #ffffff;
  font-size: 14px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  p {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }
}
