@import "../pallet";

.layout {
  height: 100%;
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .banner {
    grid-row: 1;
    grid-column: 2 / 3;
    background-image: url("../../resources/shop_cat.jpg");
    background-size: cover;
  }

  .header {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: $color2;
    color: $color3;
    padding: 16px;
  }

  .sidebar {
    padding: 16px;
    grid-column: 1;
    background-color: $color1;
    a {
      color: $color3;
      display: block;
      margin-top: 32px;
    }
  }
  .body {
    grid-row: 1;
    grid-column: 1 / 2;
    background-color: $color3;
    padding: 5px;
    position: relative;
  }
  .footer {
    padding: 16px;
    grid-row: 3;
    grid-column: 1 / span 2;
    background-color: $color2;
    color: $color3;
  }
}
