@import "../pallet";

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main {
  background-color: #1d1e1f;
  position: relative;
  width: 50vw;
}

.hero {
  background-image: url("../../resources/bg.jpg");
  background-size: cover;
  background-position: 55%;
  display: inline-flex;
  padding: 24px;

  ul {
    align-self: flex-end;
    padding-left: 0;
    list-style: none;
  }
}

.footer {
  position: absolute;
  padding: 0px;
  bottom: 0px;
  width: 97%;
  height: 30px;
  background-color: "transparent";
}
