@import '../../common//styles/Typography.scss';

.TitleContainer {
  width: 952px;
  height: 166px;
  text-align: center;
  color: white;
  position: relative;
  top: 37px;
 .Title {
  font-weight: bold;
  font-size: 24px;
}

.Subtitle {
  font-weight: normal;
  font-size: 20px;
}
}


