$bg-img: url('../../common/resources/bg-staking-bottom-bg.png');

.CartContainer {
  width: 105vw;
}

.StepIconPos {
    position: relative;
    top: 5px;
}

.OpsButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.CartItemListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 170px;
    width: 65%;
}

.CartItemListBackground {
    background: $bg-img;
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.CartItemListButtonContainer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    left: 80px;
    top: 15px;
    height: 150px;
}

.CartWarningMessage {
    position: absolute;
    z-index: 5;
    bottom: 170px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    animation-fill-mode: forwards;
    opacity: 0.8;
    border-radius: 2px;
    background-color: #2c211d;
    padding: 5px 10px 5px 10px;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
