.ButtonContainer {
    background-color: #3e2a8d;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Button {
    color: white;
    font-weight: bold;
    letter-spacing: normal;
}
