$primary-img: url('../../common/resources/ui-staking-button-apply.png');
$cancel-img: url('../../common/resources/ui-staking-button-cancel.png');

.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
    cursor:pointer;
    transition: background 0.5s cubic-bezier(.2,0.8,0,1);
    background:transparent;

}

.PrimaryButtonContainer {
  text-shadow: 0 2px 2px #814403;
  -webkit-text-stroke: 2px #c27700;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  font-size: 3.5vw;
  box-shadow: 0 3px 3px 3px #734302, inset 0 1px 3px 0 #ffffb0;
  border: solid 3px #fec351;
  background-color: #d7a34a;
    &:hover{
      background:rgba(215, 163, 74, 0.8);
    }
}

.CancelButtonContainer {
  text-shadow: 0 2px 2px #150f0c;
  -webkit-text-stroke: 2px #1c1716;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
  font-size: 3.5vw;
  box-shadow: 0 3px 3px 3px #000000, inset 0 1px 3px 0 #372c27;
  border: solid 3px #392e27;
  background-color: #2c211c;
    &:hover{
      background:rgba(44, 33, 28, 0.8);
    }
}
