.AccountInfoContainer {
  width: 400px;
  height: 100px;
  position: absolute;
  left:407px;
  display:flex;
  flex-direction:column;
  top: 14px;

  
}
.AccountInfoItem{
  display:inline-flex;
  width:max-content;
  align-items:center;
  justify-content: flex-start;
  color:white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
  margin-bottom:10px;
  padding:2px 8px;
  &.Monster{
    cursor:pointer;
    transition: background 0.5s cubic-bezier(.2,0.8,0,1);
    background:transparent;
    &:hover{
      background:rgba(0, 0, 0, 0.5);
    }
  }
  .value{
    font-weight: bold;
    margin-right:4px;
  }
  .Icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin-right:8px;
  }
  .subText{
    font-weight: normal;
  }
}
