$bg-img: url('../../common/resources/bg-staking-top-bg.png');

.ExpectedStatusBoardBackground {
  background: $bg-img;
    background-size: 100%;
    background-repeat: no-repeat;

    width: 855px;
    height: 86px;

}

.ExpectedStatusBoardContainer {
  position: relative;
  left: 10px;
  display: flex;
  width: 855px;
  height: 86px;
}

.ExpectedReward {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.CurrentStakedGoldContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .label {
    display: inline-block;
  }
}

.CurrentExpectedRewardContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  right: 100px;
}

.ExpectedStatusBoardTitle {
  object-fit: contain;
  text-shadow: 0.5px 0.9px 0 #fdd6a0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.56;
  letter-spacing: -0.48px;
  text-align: left;
  color: #38261a;
}
