name: Build

on:
  push:
    branches:
      - main
      - development
      - hotfix/*
  pull_request:
    types: [ready_for_review, opened, reopened, auto_merge_enabled]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'

      - name: Install
        shell: bash
        run: yarn

      - name: build
        shell: bash
        run: |
          yarn run pack-local
          rm -R ./dist/*-unpacked

      - name: Cache electron-gyp
        uses: actions/cache@v2
        with:
          path: ~/.electron-gyp
          key: ${{ runner.os }}-electron-gyp-${{ hashFiles('**/package-lock.json') }}

      - uses: actions/upload-artifact@v3
        with:
          path: dist
          name: Dist
          retention-days: 3
          if-no-files-found: error
