name: E2E Test
on: [push, pull_request_target]

jobs:
  run-test:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          ssh-key: ${{ secrets.SUBMODULE_PULL_KEY }}
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - name: Restore npm cache
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: "%AppData%/npm-cache"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Dependencies
        run: npm install
      - run: npm install @planetarium/cli
      - name: Generate key
        id: gen-key
        run: 'echo "::set-output name=passphrase::$(scripts\\create-key.ps1)"'
        env:
          APV_SIGN_KEY: ${{ secrets.APV_SIGN_KEY }}
      - name: Build Standalone
        run: |
          pushd NineChronicles.Headless
            dotnet clean -c Release
            dotnet nuget locals all --clear
          popd
          npm run build-headless
      - name: Build Launcher
        run: npm run build-prod
      - name: Copy config
        run: scripts\copy-config.ps1
      - name: Run E2E Test
        run: npm run test
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: e2e-snapshots
          path: __tests__/snapshots
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: e2e-logs
          path: __tests__/logs
