name: E2E Test
on: [push, pull_request]

jobs:
  run-test:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          ssh-key: ${{ secrets.SUBMODULE_PULL_KEY }}
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - name: Pull node_modules cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install Dependencies
        run: yarn
      - run: yarn add @planetarium/cli
      - name: Generate key
        id: gen-key
        run: scripts\\create-key.ps1
      - name: Build Standalone
        run: |
          pushd NineChronicles.Headless
            dotnet clean -c Release
            dotnet nuget locals all --clear
          popd
          yarn build-headless
      - name: Build Launcher
        run: yarn build-prod
      - name: Copy config
        run: scripts\copy-config.ps1
      - name: Run E2E Test
        run: yarn test
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: e2e-snapshots
          path: __tests__/snapshots
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: e2e-logs
          path: __tests__/logs
