.RewardItemValueContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-shadow: 0px 2px 0.2px rgba(0, 0, 0, 0.91);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff5e3;
}

.RewardItemIcon {
  height: 35px;
  position: relative;
  top: -3px;
  margin-right: 10px;
}

.RewardItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #261a12;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 20px;
  height: 24px;
}

.RewardRight {
  text-shadow: 0px 2px 0.2px rgba(0, 0, 0, 0.91);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #18ff00;
}

.RewardArrow {
  margin: 5px;
  font-size: 10px;
}
